[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
retrying = "*"
pyyaml = "==4.2b4"

[dev-packages]
pytest = "*"
pytest-docker-compose = "*"
lovely-pytest-docker = "*"
pytest-repeat = "*"
pytest-random-order = "*"
urllib3 = "==1.24.2"

[requires]
python_version = "3"
