[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
"psycopg2-binary" = "*"
nk_logger = {git = "ssh://git@github.com/NewKnowledge/nk-logger.git", editable = true}
retrying = "*"

[dev-packages]
pytest = "*"
pytest-docker-compose = "*"

[requires]
python_version = "3.6"
