[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
"psycopg2-binary" = "*"
retrying = "*"

[dev-packages]
pytest = "*"
pytest-docker-compose = "*"
lovely-pytest-docker = "*"
pytest-repeat = "*"
pytest-random-order = "*"

[requires]
python_version = "3"
